@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    /* you can add this on appropriate elements you wish to see animated, I'm just lazy. also don't make it long, I just did it to be noticable. */
    transition: color 1s ease, background-color 1s ease;
}

.container{
    margin-top: 3rem;
    padding: 1.5rem;
    font-family: 'Lora';
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.233);
    border: 2px solid #323232;
    border-radius: .3em;
}

.quote{
    font-size: 2rem;
}

.quote::first-letter{
    font-size: 4rem;
}

.repeat{
    margin-top: 2rem;
    cursor: pointer;
    font-family: Lora;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.233);
    outline: none;
    border: 3px black;
    height: 4rem;
    width: 10rem;
    border-radius: .3em;
}

.dark-mode{
    background-color: rgba(255, 255, 255, 0.233);
    width: 5.5rem;
    outline: none;
    cursor: pointer;
    border-radius: .3em;
    height: 2rem;
    margin-top: 5rem;
}